.cover {
  margin: 0 auto;
  background-repeat: no-repeat;
  background-position: center;
  max-width: 1184px;
  min-height: 740px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
  z-index: 0;
  background-image: url(../images/background.jpg);
  padding-bottom: 0;
  padding-top: 0;
  background-size: cover;
}

.cover::before {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  z-index: -1;
  transition: 0.3s ease-in-out;
  background-color: #2a2c2f;
  content: "";
  opacity: 0.3;
  padding-bottom: 0;
  padding-top: 0;
}

.cover:hover::before {
  opacity: 0.8;
}

.cover__container {
  max-width: 656px;
  text-align: center;
  padding-top: 46px 0;
  align-items: center;
}

.cover__title {
  font-size: 72px;
  font-weight: 900;
  line-height: 1.06;
  margin: 0;
  padding-bottom: 32px;
  text-align: center;
}

.cover__texts {
  max-width: 280px;
  font-size: 18px;
  line-height: 1.22;
  margin: 0;
  padding: 0;
  text-align: center;
}

.cover__texts:last-of-type {
  padding-bottom: 32px;
}

.cover__button {
  border-radius: 4px;
  border-style: none;
  padding: 13px 20px;
  max-height: 48px;
  font-size: 18px;
  line-height: 1.21;
  font-weight: 600;
  text-align: center;
  color: #fff;
  text-decoration: none;
  background-color: #0278fe;
  transition: background-color 0.5s ease-in-out;
  display: table;
  margin: 0 auto;
}

.cover__button:hover {
  background-color: #0063d2;
}

@media screen and (max-width: 1100px) {
  .cover {
    min-height: 746px;
  }
}

@media screen and (max-width: 700px) {
  .cover {
    min-height: 254px;
  }

  .cover__title {
    font-size: 32px;
    line-height: 1.09;
    padding-bottom: 16px;
  }

  .cover__texts {
    font-size: 14px;
    line-height: 1.14;
  }

  .cover__texts:last-of-type {
    padding-bottom: 16px;
  }
}
