.photo-grid {
  margin: 0 auto 92px;
  max-width: 1184px;
}

.photo-grid__list {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
  gap: 16px;
  list-style-type: none;
  padding: 0;
  margin: 0 auto;
}

.photo-grid__item {
  width: 100%;
  max-height: 100%;
}

.photo-grid__list-item {
  display: flex;
  justify-content: center;
  object-fit: cover;
  width: 100%;
  max-height: 100%;
  list-style: none;
}

@media screen and (max-width: 1200px) {
  .photo-grid {
    padding: 0 24px;
    margin: 0 auto;
  }

  .photo-grid__item {
    width: 100%;
  }
}

@media screen and (max-width: 500px) {
  .photo-grid {
    padding: 90px 16px 0;
  }

  .photo-grid__list {
    gap: 12px;
  }

  .photo-grid__item-item {
    max-width: 100%;
    object-fit: cover;
    padding: 0;
  }
}
